* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
    background-color: black;
    padding-top: 3px;
      line-height: 0;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   3px;
  -moz-column-count:    3;
  -moz-column-gap:      3px;
  column-count:         3;
  column-gap:           3px;
}

img {
   width: 100%;
   padding-bottom: 3px;
  height: auto;
}

@media (max-width: 1200px) {
  .board {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .board {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .board {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .board {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}